.mobile-dialogView {
	position: fixed;
}
.dialogView-m-shade{
	background-color: #000;
	opacity: 0.6;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}
.dialogView-m-main{
	width: 100%;
	height: 100%;
	margin: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	display: table;
}
.dialogView-m-aniamte.dialogView-m-main{
	-webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}
.dialogView-m-main .dialogView-m-section{
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.dialogView-m-main .dialogView-m-wrap{
	background: #fff;
	border-radius: 3px;
	width: 90%;
	max-width: 640px;
	position: relative;
	display: inline-block;
	font-size: 14px;
	box-shadow: 0 0 8px rgba(0,0,0,.1);
}
.dialogView-m-main .dialogView-m-title{
	padding: 15px 0px;
	background-color: #FF4351;
    color: #fff;
    border-radius: 3px 3px  0px 0px;
    font-size: 1.3em;
    position: relative;
}
.dialogView-m-main .dialogView-m-content{
	padding: 50px 30px;
    line-height: 25px;
    text-align: center;
}
.dialogView-m-main .dialogView-m-buttons{
	display: -webkit-box;
	width: 100%;
}
.dialogView-m-buttons [data-btn=button]{
	padding: 10px 0;
	line-height: 20px;
	display: block;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-box-flex: 1;
	border-radius: 0 0 0px 3px;
	background-color: #F2F2F2;
	color: #40AFFE; 
}
.dialogView-m-buttons [data-btn=button]:nth-last-child(1){
    border-radius: 0 0 3px 3px;
}
.dialogView-m-buttons [data-btn=button][data-skin=yes]{
	background-color: #2e8ded;
	color: #fff;
}
.dialogView-m-buttons [data-btn=button][data-skin=no]{
	background-color: #eee;
	color: #FD482C;
}
/*=========== skin ==================*/
/*msg皮肤*/
.dialogView-m-main .dialogView-m-msg{
	width: auto;
	background-color: #000;
	color: #fff;
	opacity: .6;
	margin: 0px 7px;
}
.mobile-dialogView .dialogView-m-msg .dialogView-m-content{
	padding: 15px;
}
.mobile-dialogView .dialogView-m-main .dialogView-m-footmsg,
.mobile-dialogView .dialogView-m-main .dialogView-m-footalert{
	    position: fixed;
	    margin: 0 auto;
	    width: 96%;
	    max-width: 100%;
	    left: 0px;
	    right: 0px;
	    bottom: 10px;
	    opacity: .8;
	    background-color: #fff;
}
.mobile-dialogView .dialogView-m-footmsg .dialogView-m-content,
.mobile-dialogView .dialogView-m-footalert .dialogView-m-content
{
	padding: 18px;
}
.mobile-dialogView .dialogView-m-footalert .dialogView-m-buttons{
	border-top: 1px solid #d0c9c9;
	display: block;
}
/*=============== animate ==================*/
.dialogView-m-anim-open{
    animation: m-animate-in .5s;
	-webkit-animation: m-animate-in .5s;
}
.dialogView-m-anim-close{
	animation: m-animate-out .2s;
	-webkit-animation: m-animate-out .2s;
}
.mobile-dialogView .dialogView-m-anim-up{
	animation: m-animate-up .3s;
	-webkit-animation: m-animate-up .3s;
}
.mobile-dialogView .dialogView-m-anim-down{
	animation: m-animate-down .3s;
	-webkit-animation: m-animate-down .3s;
}

@-webkit-keyframes m-animate-in{
	0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes m-animate-in{
	0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes m-animate-out{
	100% {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0) 
    }
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}
@-webkit-keyframes m-animate-out{
	100% {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0)
    }
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes m-animate-up{
	0% {
        -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
	100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0) 
    }
}
@-webkit-keyframes m-animate-up{
	0% {
        -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
	100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0) 
    }
}

@-webkit-keyframes m-animate-down{
	100% {
        -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
	0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0) 
    }
}
@keyframes m-animate-down{
	100% {
        -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
	0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0) 
    }
}